<h1>Show Event</h1>
<p>
  Meetup Name: {{meetup.name}}
</p>
<p>
  Group: {{meetup.group.name}}
</p>
<p>
   <a href="/events/suggest/{{meetup.id}}?group={{meetup.group.urlname}}">Suggest event</a>
</p>