<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hive</title>
  <style>
    body {
      background: #FFFCD4;
      color: #2C2140;
    }

    nav.navbar ul {
      margin: 25px 0;
      padding: 0;
    }

    nav.navbar ul li {
      display: inline-block;
      padding-right: 25px;
    }
  </style>
</head>

<body>
  <nav class="navbar">
    <ul>
      <li>
        <a href="/auth/register">Register/Login</a>
      </li>
      <li>
        <a href="/events">Events Index</a>
      </li>
      <li>
        <a href="/events/suggestions">Suggested Events</a>
      </li>
      <li>
        <a href="/dashboard">My Dashboard</a>
      </li>
      <li>
        <a href="/reviews">Reviews</a>
      </li>
      <li>
        <a href="/toggleconfirmed">Toggle user confirmed on / off</a>
      </li>
    </ul>
  </nav>

  {{{body}}}
</body>

</html>