<h1> Account requests</h1>
<p> This page will contain conditional rendering; it will display 
    'account pending' for users, and a list of accounts to approve for admins</p>
    <p>{{user.confirmed}}</p>