<h1>Dashboard</h1>

<hr>

{{#each upcomingMeetups}}
<p> 
  {{#group}}
    Hosted By: {{name}}
  {{/group}}
</p>
<p>
  <a href="/events/{{#group}}{{urlname}}{{/group}}/{{id}}">View</a>
  <button type="button">Attend</button>
  <button type="button">Suggest</button>
</p>
<hr>
{{else}}
<p>No upcoming events to show.</p>
{{/each}}