<h1>Homepage</h1>

<h3>Endpoints:</h3>
<ul>
  <li>
    <a href="/auth/register">Register/Login Page</a> - 
    <pre style="display: inline-block;">/auth/register/</pre>
  </li>
  <li>
    <a href="/events">Events Index (all events in DB)</a> - 
    <pre style="display: inline-block;">/events/</pre>
  </li>
  <li>
    <a href="/dashboard">User's Dashboard</a> - 
    <pre style="display: inline-block;">/dashboard/</pre>
  </li>
</ul>