<h1>{{user.name}}'s Profile</h1>
<p>{{user.name}}</p>
<p>{{user.city}}</p>
<p>{{user.email}}</p>

<p> This is where information about the user's meetup attendance will be displayed</p>

<a href="/dashboard">Click here to return to dashboard.</a>